@use "./base/base";
@use "./base/reset";
@use "./global" as *;


//ヘッダー
.header {
  position: fixed;
  z-index: 1000;
  top:0;
  left: 0;
  height: 75px;
  background-color: transparent;
  width: 100%;
}

.header.change-color {
  background-color: $white;
}

.header__inner {
  display: flex;
  align-items: center;
  height: inherit;
  padding-left: 22px;
}

.header__name {
  margin-right: auto;
}

.header__logo {
@include mq("md"){
  width: 132px;
}
}

.header__nav {
  height: inherit;
}

.header__items {
  display: flex;
  align-items: center;
  height: inherit;
}

.header__item {
  height: inherit;
}

.header__item:not(:first-child){
  margin-left: 60px;
}

.header__link {
  font-size: 16px;
  font-weight: $medium;
  display: flex;
  align-items:center;
  justify-content: center;
  height: inherit;
  color: $black;
}

.header__link.header__link--contact {
  padding: 0 24px;
  color: $white;
  background-color: $brown;
  transition: 0.3s background-color;
}

//ハンバーガーメニュー
.hamburger {
  position: fixed;
  z-index: 9999;
  top: 30px;
  right: 15px;
  width: 25px;
  height: 16px;
  cursor: pointer;
}

.hamburger.is-active {
  top: 32px;
  right: 20px;
}

.hamburger span {
  position: absolute;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: $black;
  transition: 0.3s transform, 0.3s background-color;
}

.hamburger.is-active span {
  background-color: $white;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  top: 8px;
}

.hamburger span:nth-child(3) {
  top: 16px;
}

.hamburger.is-active span:nth-child(1) {
  top: 15px;
  transform: rotate(-45deg);
}

.hamburger.is-active span:nth-child(2) {
  opacity: 0;
}

.hamburger.is-active span:nth-child(3) {
  top: 15px;
  transform: rotate(45deg);
}

//ドロワーメニュー
.drawer-menu {
  position: absolute;
  z-index: 5000;
  top: 0;
  left: 0;
  display:none;
  width: 100%;
  height: 100vh;
  background-color: rgba($color:$black2, $alpha:0.84);
}

.drawer-menu_inner {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: inherit;
}

.drawer-menu_items {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.drawer-menu_item {
  display: inline-block;
}

.drawer-menu_item:not(:first-child) {
  margin-top: 50px;
}

.drawer-menu_link {
  font-size:16px;
  font-weight: $medium;
  line-height: 1.875;
  letter-spacing: 0.05em;
  color: $white;
}

.drawer-menu_contact {
  margin-top: 48px;
  color: $white;
  font-weight: $medium;
  background-color: $brown;
  padding: 15px 72px;
  border-radius: 6px;
}

//FV
.fv {
  width: 100%;
  height: 100vh;
}

.fv__inner {
  position: relative;
  width: 100%;
  height: inherit;
}

.fv__slider,
.swiper-slide picture,
.swiper-slide img {
  height: inherit;
}

.swiper-slide img {
  object-fit: cover;
}

.fv__title-wrap {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  padding-left: 120px;
}

.fv__title {
  font-size: 38px;
  line-height: 1.47;
  letter-spacing: 0.05em;

  @include mq("md"){
    font-size: 28px;
    line-height: 1.28;
    letter-spacing: 0;
  }
}

.fv__text {
  margin-top: 20px;
}

//concept
.concept {
  padding: 140px 120px 0 205px;

  @include mq("md"){
    padding: 100px 0 0 15px;
  }

  @include mq("lg") {
    padding: 100px 0 0 15px;
  }
}

.concept__inner {
  position: relative;
}

.concept-background {
  position: absolute;
  right: 0;
  top: 53px;
  z-index: -1;
  bottom: 0;
  width: 280px;
  height: 720px;
  background-color: $light-brown;

  @include mq("md") {
    top: 30px;
    width: 180px;
    height: 600px;
  }
}

.concept__title {
  text-align: center;
  @include mq("md") {
    text-align: left;
  }
}

.concept__img {
  aspect-ratio: 1030 / 380;
  margin-top: 40px;
  z-index: 9999;
  width: 92.5%;
}

  .concept__sub-title {
  font-size: 22px;
  line-height: 1.727;
  letter-spacing: 0.05em;
  margin-top: 30px;
  @include mq("md"){
    font-size: 18px;
    line-height: 1.777;
    margin-top: 20px;
  }
}

.concept__text {
  font-size: 15px;
  line-height: 1.866;
  letter-spacing: 0.05em;
  margin-top: 30px;
  z-index: 9999;

  @include mq("md"){
    font-size: 14px;
    line-height: 1.857;
    margin-top: 20px;
  }
}

//Service
.service {
  margin-top: 140px;

  @include mq("md"){
    margin-top: 100px;
    padding-right: 15px;
  }
}

.service__inner {
  position: relative;
}

.service-background {
  position: absolute;
  right: 0;
  top: 195px;
  z-index: -1;
  bottom: 0;
  width: 100%;
  height: 280px;
  background-color: $light-brown;
  @include mq("md"){
    width: 180px;
    height: 1338px;
    left: 0;
    top: 30px;
  }
}

.service__title {
  text-align: center;
  @include mq("md"){
    text-align: right;
  }
}

.service__cards {
  display:grid;
  margin-top: 40px;
  padding-left: 35px;
  padding-right: 35px;

  grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
  column-gap: 50px;
  row-gap: 50px;

  @include mq("md"){
    margin-top: 42px;
    padding: 0 15px;

    row-gap: 30px;
  }
}

.service___card {
  width: 253px;
  height: 387px;
}

.card {
  box-shadow: 3px 3px 8px rgba($color: $black2, $alpha: 0.6);
  padding-bottom: 16px;
  @include mq("md"){
    margin-left: 63px;
    margin-right: 63px;
  }
}

.card__img {
  aspect-ratio: 310 / 400;
  overflow: hidden;
  cursor: pointer;
  transition: transform .5s;
  &:hover{
    transform: scale(1.08);
  }

  @include mq("md"){
    aspect-ratio: 250 / 387;
  }
}

.card__body {
  padding: 16px 16px;
}

.card__date {
  font-family: "Noto sans JP" , serif;
  font-size: 12px;
  letter-spacing: 0.05em;
  font-weight: $medium;
  color: $black2;
}

.card__text {
  font-family: "Noto sans JP" , serif;
  font-size: 14px;
  line-height: 1.857;
  font-weight: $medium;
  margin-top: 12px;
  text-align: center;
}

.card__category {
  font-size: 12px;
  padding: 3px 13px;
  color: #fff;
  background-color: $brown2;
  float: right;
}


//Access
.access {
  width: 100%;
  padding-top: 140px;
}

.access__inner {
  width: 800px;
  @include mq("md"){
    width: 450px;
  }
}

.access__title {
  text-align: center;
  @include mq("md"){
    width: 345px;
  }
}

.company-info {
  width: 800px;
  padding-left: 320px;
  padding-right: 320px;
  @include mq("md"){
    width: 92%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.company-info__group {
  display: flex;
  padding-bottom: 12px;
  border-bottom: 1px solid #ddd;
  margin-top: 40px;

  @include mq("md"){
    display: block;
    flex-direction: column;
    width: 92%;
  }
}

.company-info__group + .company-info__group {
  margin-top: 20px;
}

.company-info__item {
  font-size: 16px;
  min-width: 20%;
  max-width: 20%;
  color: $black;
}

.company-info__description {
  font-size: 16px;
  margin-left: 90px;
  color: $black;
  @include mq("md"){
    margin-left: 0;
  }
}

.access-map {
  margin-top: 40px;
  padding: 0;
  width: 100%;
  @include mq("md"){
    margin-top: 24px;
  }
}

.access-map img{
  width: 100%;
  height: 420px;

  @include mq("md"){
    width: 100%;
    height: 400px;
  }
}

//Contact
.contact {
  width: 100%;
}

.contact__inner {
  padding-top: 80px;
  padding-left: 205px;
  position: relative;
  width: 100%;
  height: 455px;
  background-image:url(../images/contact-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  @include mq("md"){
    background-image: url(../images/contact-img-sp.jpg);
    padding-top: 60px;
    padding-left: 15px;
  }
}

.contact__text-wrap {
  position: absolute;
  top: 38.5%;
  left: 50%;
  width:100%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.contact__text {
  color: $white;
}

.contact__button-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: $white;
  margin-top: 20px;
}

.contact__title {
  text-align: left;
}

.contact-title__main {
  color: $white;
}

.contact__button {
  border: 2px solid $white;
  padding: 27px 86px;
  color: $white;
  border-radius: 6px;
  &:hover{
    letter-spacing: 0.22em;
  }
}

.contact-fv img {
  width: 100%;
}



//フッター
.footer {
  background-color: $black2;
  padding-top:32px;
  padding-bottom: 32px;
  padding-left: 622px;
  padding-right: 623px;

  @include mq("md"){
    padding: 22px 90px;
  }
}

.footer__copyright {
  font-size: 14px;
  display: block;
  text-align: center;
  letter-spacing: 0.05em;
  color: $white;
}






//共通パーツ
.section-title__main{
  font-size: 36px;
  font-weight: $medium;
}

.section-title__sub {
  font-size: 12px;
  color: $brown;
}

.md-none {
  @include mq("md") {
    display:none;
  }
}
.md-show {
  display: none;

  @include mq("md"){
    display: block;
  }
}


//サンクスページ
.contact-fv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-fv__inner {
  width: 100%;
}

.contact-form {
  padding: 80px 0;
  @include mq("md") {
    padding: 60px 0 60px;
  }
}

.contact-form__inner {
  margin-left: 320px;
  margin-right: 320px;

  @include mq("md") {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.contact-fv__title {
  top: 270px;
  left: 120px;
}

.contact-fv__title-wrap {
  top: 30%;
}

.contact-fv__title-main,
.contact-fv__title-sub
 {
  color: $black;
}

.contact-page__text {
  text-align: center;
}

.contact__form {
  margin-top: 60px;
  margin-inline: auto;
  padding: 60px 151px;
  background-color: $light-brown;
  min-width: 400px;
  @include mq("md"){
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    width: 80%;
    text-align: center;
  }
}

.contact__item {
  display: flex;
  justify-content: space-between;
  @include mq("md") {
    display: block;
    width: 100%;
    align-items: flex-start;
  }
}

.contact__item:not(:first-child) {
  margin-top: 32px;
  @include mq("md"){
    margin-top: 20px;
  }
}

.contact__item:nth-child(3) {
  display: block;
}
.contact__item:nth-child(4) {
  align-items: flex-start;
  @include mq("md"){
    justify-content: flex-start;
  }
}

.contact__label {
  display: flex;
  align-items:center;
  justify-content: flex-start;
}

.contact__label-text {
  font-size: 14px;
  color: $black;
  @include mq("md"){
    font-size: 12px;
  }
}

.contact__required {
  color: $red;
}

.contact__radio {
  display: flex;
  gap: 12px;
  margin-top: 12px;
  text-align: center;
  @include mq("md"){
    flex-wrap: wrap;
    width: 219px;
  }
}

.contact__radio-text {
  position: relative;
  font-size: 12px;
  padding-left: 1.5em;
  display: flex;
  gap: 4px;
  align-items: center;
  color: $black;
}

.contact__radio-text::before {
  display: block;
  width: 10px;
  height: 10px;
  content: "";
  border: 1px solid $black;
  border-radius: 50%;
}

.contact__radio-input:checked + .contact__radio-text::after {
  position: absolute;
  left: calc(10px - 8px);
  display: block;
  width: 16px;
  height: 16px;
  content: "";
  border-radius: 50%;
  background-color: $black;
}

.contact__input {
  font-size: 14px;
  color: $black;
  border-radius: 4px;
  padding-top: 10px;
  padding-left: 12px;
  padding-bottom: 10px;
  width: 360px;
  height: 40px;
  background-color: $white;

  @include mq("md"){
    margin-top: 5px;
    width: 305px;
    justify-content: flex-start;
  }
}

.contact__textarea {
  font-size: 14px;
  color: $black;
  border-radius: 4px;
  padding-top: 14px;
  padding-left: 12px;
  padding-bottom: 10px;
  background-color: $white;
  resize: none;
  width: 360px;
  height: 171px;
  @include mq("md"){
    width: 305px;
    height: 171px;
    margin-top: 6px;
  }
}

.contact__input::placeholder,
.contact__textarea::placeholder {
  font-size: 14px;
  color: $silver;
  @include mq("md"){
    font-size: 13px;
  }
}

.contact-form__button {
  display: block;
  font-size: 16px;
  font-weight: $bold;
  border-radius: 6px;
  background-color: $brown;
  color: $white;
  padding: 15.5px 12px;
  margin-top: 40px;
  margin-inline: auto;
  width: 180px;
  text-align: center;
  @include mq("md"){
    font-size: 14px;
    margin-top: 24px;
    padding: 13px 12px;
  }
}
